.files-slider {
    position: relative;

    // height: 700px;
    max-height: 700px;
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    overflow: hidden;

    margin-bottom: 10px;

    img {
        width: 100%;
        height: 100%;
        max-height: 700px;

        object-fit: contain;
    }

    .mySwiper {
        width: 100% !important;
        height: 690px !important;
        max-height: 690px;
        margin-top: 10px !important;
        position: relative;

        .timer {
            position: absolute;
            top: 23px;
            left: 50%;
            transform: translateX(-25%);

            font-size: 14px;
            color: white;
            text-shadow: 0px 0px 2px rgb(2, 2, 2, 0.6);
        }
    }
}
.invalidStory {
    display: flex;
    justify-content: center;
    align-items: center;
}
