.story-wrapper {
    position: relative;
}
.story-container {
    width: 430px;
    height: 80px;

    margin-top: 30px;
    padding: 20px;

    border: 1px solid rgba(114, 132, 159, 0.2);
    border-radius: 10px;
    background-color: white;
}
