.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 40px;
    width: auto;
    max-width: 315px;
}

.account {
    display: flex;
    align-items: center;

    cursor: pointer;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: 2px solid transparent;
}
.avatar img {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    object-fit: cover;

    border-radius: 50%;
}
.havestr {
    border-color: red;
}

.about {
    margin-left: 10px;
    max-height: 40px;
}
.about p {
    margin: 0;
    font-size: 12px;

    margin-bottom: 4px;
}
.name {
    color: black;
    font-weight: 700;
}
.desc {
    color: rgba(var(--ig-secondary-text));
}

.follow p {
    font-size: 12px;
    font-weight: 700;
    color: rgb(var(--ig-primary-button));
    cursor: pointer;
}

@media (max-width: 1024px) {
    .recommend-home.wrapper {
        flex-direction: column;
        justify-content: center;
        width: 120px;
        min-width: 120px;
        height: 110px;
        border: 1px solid rgb(var(--ig-separator));
        margin-right: 10px;
        padding: 10px;
        border-radius: 5px;

        .account {
            flex-direction: column;
        }
        .about {
            margin-left: 0;

            .name {
                text-align: center;
            }
        }
    }
}
