.video-wrapper {
    position: relative;

    display: flex;
    align-items: flex-end;

    margin-bottom: 20px;
}
.account-wrapper {
    position: absolute;
    bottom: 20px;
    left: 20px;

    z-index: 10;

    p {
        width: 100px;
        white-space: pre-wrap;
        color: white;
        text-shadow: 0 0 1px rgb(var(--ig-separator));
    }
}
.account-wrapper--caption {
    margin-top: 10px;
}
.video-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 380px;
    height: 670px;
    max-height: 670px;
    overflow: hidden;

    border-radius: 5px;
    background-color: black;
}
.video {
    position: relative;

    width: 100%;
    height: 100%;
    max-height: 670px;

    object-fit: contain;
}
.volume-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    z-index: 5;

    cursor: pointer;
}
.pause-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    padding: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);

    cursor: pointer;
}
.icons-container {
    margin: 0 0 20px 20px;
}
.like-wrapper,
.cmt-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.like-wrapper {
    cursor: pointer;
}
.cmt-wrapper {
    margin-top: 20px;
    cursor: pointer;
}
// cmts modal
.cmt-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 50;
    background-color: rgba(0, 0, 0, 0.5);
}
.cmt-container {
    width: 600px;
    height: 500px;

    background-color: white;
    overflow: hidden;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}
.cmt-header {
    position: relative;
    text-align: center;
    padding: 20px 0;

    border-bottom: 1px solid rgb(var(--ig-separator));
}
.cmt-header--icon {
    position: absolute;
    top: 10px;
    right: 15px;

    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}
.cmt-list {
    flex: 1;

    overflow-y: scroll;
    scroll-behavior: smooth;

    padding: 20px 20px 10px 20px;
}
.upload-cmt {
    position: relative;
    bottom: 0;

    padding: 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid rgb(var(--ig-separator));

    width: 100%;
    height: 70px;

    img {
        position: absolute;
        top: 50%;
        left: 35px;
        transform: translateY(-50%);

        width: 20px;
        height: 20px;

        border-radius: 50%;
        object-fit: cover;
    }
    input {
        width: 450px;
        height: 100%;
        padding: 5px 60px 5px 40px;
        border: 1px solid rgb(var(--ig-separator));
        border-radius: 38px;

        outline: none;

        &:not(:placeholder-shown) ~ button {
            color: rgb(var(--ig-primary-button));
        }
    }
    button {
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-47%);

        cursor: pointer;
        border: none;
        outline: none;
        padding: 0;
        background-color: transparent;

        font-size: 12px;
        font-weight: 700;
        color: rgb(125, 190, 233);
    }
}

@media screen and (max-width: 740px) {
    .wrapper {
        margin-top: 70px;
    }
    .video-wrapper {
        width: calc(100vw - 20px);
    }
    .video-container {
        width: 350px;
        height: 600px;
        max-height: 600px;
    }
    .video {
        max-height: 600px;
    }
    .cmt-container {
        width: calc(100% - 50px);
    }
    .upload-cmt input {
        padding-left: 70px;
        padding-right: 80px;
    }
    .upload-cmt {
        width: calc(100% - 20px);
        padding: 20px 10px;
    }
}
